{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital City Quiz</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body id="app">
    <form class="container" action="" method="GET">

        <div class="horizontal-container">
            <h3>
                Total Score:
                <span id="score">0</span>
            </h3>
        </div>

        <div id="countryName">
            <img src="../static/images/" alt="" width="80px">
            <h1>Country Name</h1>
        </div>

        <div class="answer-container">
            <input type="text" name="answer" id="userInput" placeholder="Enter the capital" autofocus autocomplete="off">
            <input type="hidden" name="question_index" value="">
            <input type="hidden" name="total_score" value="">
        </div>

        <button type="submit">
            SUBMIT
            <span class="checkmark">✔</span>
            <span class="cross" id="error">✖</span>
        </button>

    </form>
</body>
</html>